{{#each archives}}
    <div class="post-archive">
        <h2>{{year}}</h2>
        <ul class="listing">
            {{#each posts}}
                <li>
                    <span class="date">{{date format="YYYY/MM/YY"}}</span>
                    <a href="{{post_href head='/post/'}}" title={{title}}>{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}